body{
    background: linear-gradient(to bottom, #060c14, #0a1017, #0d131b, #0f151e, #111821) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homeImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 620px;
    padding-top: 6%;
}

.big {
    font-size: 1.2em;
}

.small {
    font-size: .7em;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}
.sessionBar{
    height: 42px;
    padding-right: 2px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    margin-right: 5px;
    margin-left: 0;
    width: 100%;
    padding-top: 6px;
}
.custom-dropdown select {
    background-color: #007bff;
    font-size: .875rem;
    color: #fff;;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    height: 28px;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
}